/* Destacados */

/* Remeras */

.contenedorRemeras {
    margin: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.imgRemeras {
    width: 25rem;
    height: 22rem;
    padding: 0.5rem;
}

.pRemera {
    position: relative;
    text-align: center;
    top: 23rem;
    right: 13rem;
    font-size: 20px;
}

/* Buzos */

.contenedorBuzos {
    margin: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.imgBuzos {
    width: 25rem;
    height: 22rem;
    padding: 0.5rem;
}

.pBuzos {
    position: relative;
    text-align: center;
    top: 23rem;
    right: 13rem;
    font-size: 20px;
}

.pr {
    margin-top: 8rem;
}

/*  Bermudas */

.contenedorBermudas {
    margin: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.imgBermudas {
    width: 25rem;
    height: 22rem;
    padding: 0.5rem;
}

.pBermudas {
    position: relative;
    text-align: center;
    top: 23rem;
    right: 13rem;
    font-size: 20px;
}