/* Main */

main {
    margin: 0;
    padding: 2rem;
}

.colorMain {
    background-color: $color-gris;
}

.imagenP {
    width: 100%;
    background-size: contain;
    height: 35rem;
}

.iconos {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.bordeIconos {
    border: 4px solid $color-grisOscuro;
    padding: 5px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin: 2rem 0rem;
}

.barraSeparacion {
    border-top: 1px solid $color-negro;
}

h2 {
    text-align: center;
    text-decoration: underline;
    margin: 2rem 0rem;
    font-size: 2rem;
}

